<!--Footer-->

<footer class="footer">
	<div class="footer_blocks">
		<p class="footer_paragraph">If you would like regular updates about events and goings-on at Olimpic fitness-club
			<a href="contacts.html" class="footer__contacts">sign up</a>
			to our newsletter.</p>
		<p class="footer_paragraph"> 55A Tooley St, London SE1 2QN, United Kingdom;· +44 7835 932617; <a
				href="mailto:info@olimpic.com" class="footer__contacts"> WRITE US</a></p>
	</div>

	<div class="footer_blocks">
		<p class="footer_paragraph">&copy; COPYRIGHT 2018. ALL RIGHTS RESERVED</p>

		<!--Share Buttons-->

		<ul class="share-buttons">
			<li class="share-buttons__button"><a href="https://www.facebook.com/sharer/sharer.php?u=&quote="
												 title="Share on Facebook"
												 target="_blank"><img class="share-buttons__image"
																	  alt="Share on Facebook"
																	  src="../images/share-buttons/Facebook.png"/></a>
			</li>
			<li class="share-buttons__button"><a href="https://twitter.com/intent/tweet?source=&text=:%20"
												 target="_blank" title="Tweet"><img class="share-buttons__image"
																					alt="Tweet"
																					src="../images/share-buttons/Twitter.png"/></a>
			</li>
			<li class="share-buttons__button"><a href="https://plus.google.com/share?url=" target="_blank"
												 title="Share on Google+"><img class="share-buttons__image"
																			   alt="Share on Google+"
																			   src="../images/share-buttons/Google+.png"/></a>
			</li>
			<li class="share-buttons__button"><a href="mailto:?subject=&body=:%20" target="_blank"
												 title="Send email"><img class="share-buttons__image" alt="Send email"
																		 src="../images/share-buttons/Email.png"/></a>
			</li>
		</ul>

	</div>


</footer>