<header class="menu">

	<!---Logo-->

	<div class="logo">
		<img src="../images/logo/logo.jpg" alt="logo" class="logo__img">
	</div>

	<!---Menu-->

	<nav class="menu__navigation" id="menu">
		<a class="menu__item" href="../index.html">Home</a>
		<div class="menu__sub-menu sub-menu">
			<button class="sub-menu__btn" id="first-sub-menu">Services
				<i class="fa">&#xf0d7;</i>
			</button>
			<div class="sub-menu__content" id="first-menu">
				<a class="sub-menu__item" href="services.html#pilates">Pilates</a>
				<a class="sub-menu__item" href="services.html#stretching">Stretching</a>
				<a class="sub-menu__item" href="services.html#yoga">Yoga</a>
				<a class="sub-menu__item" href="services.html#sculpt">Sculpt</a>
				<a class="sub-menu__item" href="services.html#personal-training">Personal training</a>
			</div>
		</div>
		<div class="menu__sub-menu sub-menu">
			<button class="sub-menu__btn" id="second-sub-menu">Training registration
				<i class="fa">&#xf0d7;</i>
			</button>
			<div class="sub-menu__content" id="second-menu">
				<a class="sub-menu__item" href="training-registration.html#group-training-registration">Group training registration</a>
				<a class="sub-menu__item" href="training-registration.html#personal-training-registration">Personal training registration </a>
				<a class="sub-menu__item" href="training-registration.html#buy-a-subscription">Buy a
					subscription</a>
			</div>
		</div>
		<a class="menu__item" href="photogallery.html">Photogallery</a>
		<a class="menu__item" href="contacts.html">Contacts</a>

		<!--Search field-->

		<div class="search">
			<form method="get">
				<input class="search__input" type="text" placeholder="Search.." name="search">
				<button class="search__button" type="submit"><i class="fa">&#xf002;</i></button>
			</form>
		</div>
		<a href="javascript:void(0);" class="menu__item icon"
		   onclick="responsiveMenu();">&#9776;</a>
	</nav>

</header>